<button class="floating-btn btn btn-primary" (click)="addCategory()">
  <span class="bi-plus-lg"></span>
</button>
<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">
    <!-- Botón de agregar -->
    <!-- <div class="row mb-3 text-end">
      <div class="col">
        <button class="btn btn-primary" (click)="addCategory()">
          <span class="bi-plus-lg"></span>
        </button>
      </div>
    </div> -->

    <!-- Fila de botones de filtro -->
    <div class="row mb-3" style="width: 100%;">
      <!-- Barra de busqueda -->
      <div class="col-3">
        <input
          type="text"
          placeholder="Buscar"
          class="form-control"
          [(ngModel)]="searchTerm"
          (input)="onSearch($event)"
        >
      </div>
      <div class="col-3">
     <app-expenses-state-category-ng-select [(selectedStates)]="selectedStates" [multiple]="true" (selectedStatesChange)="onStateChange()" (selectedStateChange)="onStateChange()"></app-expenses-state-category-ng-select>
      </div>

      <!-- Botones de exportar -->
      <div class="col d-flex gap-1  justify-content-end"style="width: 100%;">
        <button type="button" class="btn btn-secondary bi bi-trash filterbutton" title="Limpiar Filtros" (click)="clearFiltered()"></button>
        <button (click)="exportToExcel()" id="exportExcelBtn" class="btn btn-success bi-file-earmark-excel filterbutton" title="Exportar Excel"></button>
        <button (click)="exportToPDF()" id="exportPdfBtn" class="btn btn-danger bi-file-earmark-pdf filterbutton" title="Exportar PDF"></button>
      </div>
    </div>

    <table id="myTable" class="table table-striped border border-3 rounded">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</section>
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listado de categorías</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          En este listado podrá visualizar y buscar las categorías existentes.
        </p>
        <p>
          Además, en las acciones, cuenta con la posibilidad de modificar el estado o editar el nombre de las mismas.
        </p>
        <p>
          La tabla también incluye una barra de búsqueda y opciones de paginación y orden de los datos, lo que facilita la navegación y el filtrado de los datos disponibles.
        </p>
        <ul>
          <li>
            <strong>Tabla de Categorías</strong>: Muestra la información de las categorías, con columnas para la categoría, estado, fecha y opciones de acciones.
          </li>
          <li>
            <strong>Botones</strong>:
            <ul>
              <li>
                <button class="btn btn-success mt-2 bi-file-earmark-excel mb-2"></button> Exporta el contenido de la tabla a Excel.
              </li>
              <li>
                <button class="btn btn-danger bi-file-earmark-pdf mb-2"></button> Exporta el contenido de la tabla a PDF.
              </li>
              <li>
                <button class="rounded-circle mb-2 btn btn-primary">
                  <span class="bi-plus-lg"></span>
                </button> Abre el modal para registrar nueva categoría.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 
