<div class="mb-5">
    <!-- NavBar -->
    <nav class="navbar mynav d-flex justify-content-between shadow fixed-top text-bg-dark" style="z-index: 10;">

        <!-- Lado izquierdo -->
        <div class="col-4">

        </div>

        <div class="col-4 text-center">
            <h3>Pagina Principal</h3>
        </div>

        <div class="col-4 text-end d-flex justify-content-end align-items-center">
            <button class="btn btn-dark" (click)="redirect('login')">Ingresar
                <i class="bi-person-circle fs-5"></i>
            </button>
        </div>

    </nav>
</div>
<section class="container py-3 border border-3" style="min-height: 100vh;">
    <div class="row text-center">
        <div class="col">
            <h2>Landing page</h2>
        </div>
        
    </div>
</section>

