<app-access-visitor-form [(value)]="visitorForm"></app-access-visitor-form>

<div class="col-12 d-flex justify-content-end mt-3">
    <button (click)="sendVisitorWithoutRH()" class="btn btn-primary btn-sm" style="margin-bottom: 2px;" [disabled]="!(
        visitorForm.get('document')?.valid &&
        visitorForm.get('firstName')?.valid &&
        visitorForm.get('lastName')?.valid &&
        visitorForm.get('email')?.valid
    )">Agregar</button>
</div>

<app-access-grid-visitors-registration
    (updateVisit)="updateVisitor($event)"></app-access-grid-visitors-registration>
<app-access-time-range-visitors-registration></app-access-time-range-visitors-registration>

<div class="col-12 mt-3">
    <div class="d-flex justify-content-end gap-3">
        <button class="btn btn-outline-success btn-sm" type="button"
            *ngIf="isQRCodeAvailable && existsVisitor()" (click)="downloadQRCode()"
            [disabled]="!isQRCodeAvailable">
            Descargar Qr
        </button>
        <button class="btn btn-primary btn-sm" type="button" *ngIf="isRegisterButtonVisible || isLoading"
            (click)="sendVisitorRecord()" [disabled]="isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"
                aria-hidden="true"></span>
            {{ buttonText }}
        </button>
    </div>
</div>