<ng-select
  [items]="providersList"
  bindLabel="name"
  bindValue=""
  [multiple]="true"
  [(ngModel)]="selectValue"
  [closeOnSelect]="false"
  (change)="onProviderChange()"
  [selectableGroup]="true"
  [clearable] = "true"
  > 
    <!--
      Esto es lo que muestra seleccionado, si es uno muestra la descripcion del elemento(poner nombre atributo que corresponde)
      pero si es mayor a uno, va contandolos. Si no hay nada marcado no muestra nada
    -->
    <ng-template ng-multi-label-tmp let-items="items">
      @if(items.length == 1){
          {{ items[0].description }}
      }
      @if(items.length>1){
          {{ items.length }} seleccionados
      }
    </ng-template>
    <!--
      Esto es para dibujar el desplegable
    -->
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
    </ng-template>
  
</ng-select>

