<div class="card mx-2 mx-md-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded navbarMargin">
    <div class="mb-3">
        <select class="form-select" [(ngModel)]="selectedComponent">
            <option value="eventual">Visitas Eventuales</option>
            <option value="registration">Visitas Permanentes</option>
        </select>
    </div>
 
    @if (selectedComponent === 'registration') {
        <app-access-container-visitors-registration></app-access-container-visitors-registration>
    } @else if (selectedComponent === 'eventual') {
        <app-access-visitors-eventual></app-access-visitors-eventual>
    }
 </div>