/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css';
@import "@ng-select/ng-select/themes/default.theme.css";

table.dataTable tbody tr.selected {
  background-color: transparent !important;
}

.btn.filterbutton:hover {
  transform: translateY(-2px);

}


//------------------------------Colores--------------------------------//

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

.text-bg-indigo {
  background-color: $indigo;
  color: $white;
}

.text-bg-red {
  background-color: $red;
  color: $white;
}

.text-bg-green {
  background-color: $green;
  color: $white;
}

.text-bg-blue {
  background-color: $blue;
  color: $white;
}

.text-bg-salmon {
  background-color: #d46b75;
  color: $dark;
}

.text-bg-light-blue {
  background-color: #0dcaf0;
  color: $white;
}

.text-bg-orange {
  background-color: $orange;
  color: $white;
}

.text-bg-purple {
  background-color: $purple;
  color: $white;
}

.text-bg-teal {
  background-color: $teal;
  color: $white;
}

.text-bg-pink {
  background-color: $pink;
  color: $white;
}

.text-bg-cyan {
  background-color: $cyan;
  color: $white;
}


//------------------------------Animaciones--------------------------------//


.verticalAnimation {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

//Animacion para expandir verticalmente (Origen)
.verticalAnimation.expanded {
  max-height: 500px;
  opacity: 1;
}


//------------------------------Botónes--------------------------------//

.floating-btn {
  //Ajuste de posicion
  position: fixed;
  bottom: 20px;
  right: 20px;
  //Tamaño del boton
  width: 50px !important;
  height: 50px !important;
  //Estilo del boton
  border-radius: 50% !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}