<div class="card hover-scale shadow border-0" [ngStyle]="customStyles" [title]="tooltip">
    <div class="card-body text-center px-2 pb-2 pt-0">
        <div class="row text-end">
            <i [class]="icon + ' fs-5'"></i>
        </div>

        <!-- valor -->
        <div class="kpi-amount mb-2">
            <span class="display-5 fw-semibold" [ngClass]="Value!.toString().length > 8 ? 'fs-4' : 'fs-2'">
                {{Value}}
            </span>
        </div>

        <!-- titulo y subtitulo -->
        <div class="">
            <h5 class="h6 mb-1">{{title}}</h5>
            <p class="text-muted small mb-0">{{subTitle}}</p>
        </div>
    </div>
</div>